<!-- Slider Start -->
<section class="global-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>{{.Site.Data.about.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12 col-sm-12">
                <p style="text-align: justify">
                    {{.Site.Data.about.about | safeHTML }}
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center ">
                <img src="{{ .Site.Data.about.archicture }}" style="width: 100%;"/>
                <br>
                <em>{{ .Site.Data.about.archictute_title}}</em>
            </div>
            <div class="col-md-6 col-sm-12 text-center ">
                <img src="{{ .Site.Data.about.plan }}" style="width: 70%;"/>
                <br>
                <em>{{ .Site.Data.about.plan_title}}</em>
            </div>
        </div>
        <br>
        <br>
    </div>
</section>
<!-- Slider Start -->
<section class="global-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>{{.Site.Data.service.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="feature_about">
    <div class="container-fluid">
        <!-- Content -->
        {{ range .Site.Data.service.content }}
            {{ $.Scratch.Add "i" 1 }}
            {{ $i := $.Scratch.Get "i" }}
            <div class="row" style="padding: 1em;margin-bottom: 0.3em">
                <div class="container">
                {{if not (modBool $i 2)}}
                    <div class="col-sm-12 col-md-3 text-center vcenter">
                        <div class="service-item">
                            <i class="{{ .icon }} fa-5x"></i>
                            <h4>{{ .name | safeHTML}}</h4>
                            <p style="color: #666991 !important;">{{ .text | safeHTML}}</p>
                        </div>
                    </div><!--
                 --><div class="col-sm-12 col-md-9  vcenter">
                        <p class="text-justify"> {{.textexpanded | safeHTML}}</p>
                    </div>
                {{else}}
                    <div class="col-sm-12 col-md-3 col-md-push-9 text-center vcenter">
                        <div class="service-item">
                            <i class="{{ .icon }} fa-5x"></i>
                            <h4>{{ .name | safeHTML}}</h4>
                            <p style="color: #666991 !important;">{{ .text | safeHTML}}</p>
                        </div>
                    </div><!--
                 --><div class="col-sm-12 col-md-9 col-md-pull-3 vcenter">
                        <p class="text-justify"> {{.textexpanded | safeHTML}}</p>
                    </div>
                {{end}}
                </div>
            </div>
        {{ end }}

    </div>
</section>