{{ partial "global-header.html" . }}
<!-- contact form start -->
<section id="people">
    <div class="container">
        <h1>Core Team</h1>
        <div class="row">
            <!-- Content -->
            <div class="row">
                <!-- Content -->
                {{ range .Site.Data.people.content.core }}
                    {{ $.Scratch.Add "i" 1 }}
                    {{ $i := $.Scratch.Get "i" }}
                    {{if (modBool $i 3)}}
                        <div class="row">
                    {{end}}
                            <div class="col-md-4 col-sm-12 {{.offset}}">
                                <div class="panel panel-rheem">
                                    <div class="panel-heading text-center">
                                        <Strong>{{ .name }}</Strong>
                                    </div>
                                    <div class="panel-body text-center">
                                        <i class="fa fa-5x fa-user"></i>
                                    </div>

                                </div>
                            </div>
                    {{if (modBool $i 3)}}
                        </div>
                    {{end}}
                {{ end }}
            </div>
        </div>

        <h1>Applications Team</h1>
        <div class="row">
            <!-- Content -->
            <div class="row">
                <!-- Content -->
                {{ range .Site.Data.people.content.application }}
                {{ $.Scratch.Add "k" 1 }}
                {{ $k := $.Scratch.Get "k" }}
                {{if (modBool $k 3)}}
                <div class="row">
                    {{end}}
                    <div class="col-md-4 col-sm-12 {{.offset}}">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <Strong>{{ .name }}</Strong>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-5x fa-user"></i>
                            </div>
                        </div>
                    </div>
                    {{if (modBool $k 3)}}
                </div>
                {{end}}
                {{ end }}
            </div>
        </div>

        <h1>Alumni</h1>
        <div class="row">
            <!-- Content -->
            <div class="row">
                <!-- Content -->
                {{ range .Site.Data.people.content.alumni }}
                {{ $.Scratch.Add "j" 1 }}
                {{ $j := $.Scratch.Get "j" }}
                {{if (modBool $j 3)}}
                <div class="row">
                    {{end}}
                    <div class="col-md-4 col-sm-12 {{.offset}}">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <Strong>{{ .name }}</Strong>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-5x fa-user"></i>
                            </div>

                        </div>
                    </div>
                    {{if (modBool $j 3)}}
                </div>
                {{end}}
                {{ end }}
            </div>
        </div>
    </div>
</section>