<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

	<section class="blog section">
		<div class="container">
			{{ range (.Paginator 6).Pages }}
				{{ $.Scratch.Add "i" 1 }}
				{{ $i := $.Scratch.Get "i" }}
				{{if (modBool $i 2)}}
					<div class="row">
				{{end}}
					<div class="col-md-6">
						<article class="blog-post text-center">
							<a class="post-title " href="{{ .Permalink }}">
								{{ with .Params.imagen }} <img src="{{ . | absURL }}" class="img-responsive" alt="post-thumb"> {{ end }}
							</a>
							{{if .Params.paper}}
							<a href="{{ $.Site.BaseURL }}{{.Params.paper}}" class="btn btn-link">
								<img src="/img/pdf.png" style="width: 1.5em; margin-top: 0.99em"> {{ .Params.show_title }}
							</a>

							{{else}}
							{{ .Params.show_title }}


							{{end}}




						</article>
					</div>

				{{if (modBool $i 2)}}
					</div>
				{{end}}
			{{ end }}
			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
